Flask==3.0.3
gunicorn==22.0.0
psycopg2-binary==2.9.3
python-dotenv
blinker>=1.6.2
Werkzeug==3.0.6
MarkupSafe>=2.1.1
blinker>=1.8.2
wheel     # If necessary, install manually using 'pip install --upgrade pip wheel'
setuptools     # If necessary install manually using 'pip install wheel setuptools pip --upgrade'
